{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}
Editar Perfil
{% endblock %}

{% block content %}
    <div class="bg-teal-100">
        <div class="bg-teal-200 px-28 py-24 mx-64">
            <div class="mx-64 px-16">
                <h1 class="pb-16" style="font-size: 2rem; font=weight: 700; font-family: Consolas; color: #002B05;">{{ request.user }}, PREENCHA OS CAMPOS ABAIXO PARA EDIÇÃO DO SEU CADASTRO</h1>
                <form method="POST">
                {% csrf_token %}

                {{ form|crispy }}
                <button class="btn btn-primary btn-lg bg-success" type="submit">Confirmar</button>

            </form>
                <small><a href="{% url 'conta:mudarsenha' %}">Quer mudar a senha?</a></small>
            </div>

        </div>

    </div>
{% endblock %}