{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Página não encontrada
{% endblock %}

{% block content %}
<div class="bg-teal-100">
    <div class="bg-teal-200 mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32" style="min-height: 722px;">

        <div class="flex flex-col justify-center items-center h-full">
            <h1 class="text-4xl md:text-6xl py-16" style="text-align: center;">Desculpe, infelizmente não conseguimos encontrar a página solicitada...</h1>
            <a class="text-xl md:text-3xl px-4 py-2 rounded-lg mt-8 bg-indigo-600 hover:bg-indigo-400 text-white" href="{% url 'conta:homepage' %}">Clique aqui para voltar à página inicial</a>
        </div>

    </div>
</div>
{% endblock %}