{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}
Futuras Compras
{% endblock %}

{% block content %}
<div class="bg-teal-100">
    <div class="px-6 py-10 mx-auto md:px-10 lg:px-20 xl:px-40 bg-teal-200 container">
        <h1 class="pb-6 text-2xl font-semibold" style="font-size: 2rem; color:#2F4F4F; font-weight: 600;">Nesta seção você pode cadastrar produtos que deseja adquirir futuramente, para isso preencha os campos abaixo...</h1>
        <form method="post" class="w-64 md:w-96">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="w-full bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded mt-4 mb-16">Adicionar
            </button>
        </form>
    </div>
    <div style="height: 2px; background-color: black;" class="mx-auto md:mx-10 lg:mx-20 xl:mx-40 container-divisor">
    </div>
    <div class="px-6 py-10 mx-auto md:px-10 lg:px-20 xl:px-40 bg-teal-200 container">
        <h1 class="mb-2 text-xl font-semibold" style="font-size:1.8rem; font-weight: 700; color:#2F4F4F;">Confira abaixo suas futuras aquisições</h1>
        <h3 class="text-base font-medium" style="font-size:1.2rem; font-weight: 500; color:#2F4F4F;">Para acessar o item caso tenha cadastrado um link, basta clicar em sua descrição...</h3>
            {% if request.user.futurascompras.all|length > 0 %}
            {% for produto in request.user.futurascompras.all %}

            <div class="bg-gray-100 p-2 mt-4 flex flex-col md:flex-row justify-between rounded-lg w-6/12">
                {% if produto.url %}
                <a href="{{ produto.url }}" target="_blank" class="text-lg font-semibold">
                    {% else %}
                    <a href="#" class="text-lg font-semibold">
                        {% endif %}
                        <p class="mb-2">{{ produto }}</p>
                        <p>R$ {{ produto.valor }}</p>
                    </a>

                    <button class="bg-red-600 hover:bg-red-300 text-white font-bold py-2 px-4 border border-red-900 rounded mt-2 md:mt-0" onclick="excluirItem('{{ produto.id }}')">Remover</button>
            </div>
            {% endfor %}
            {% else %}
                <h1 class="pt-4 text-xl font-semibold pb-20" style="font-size: 2rem; color:#2F4F4F; font-weight: 600;">Parece que você não possui nenhum produto cadastrado, preencha o formulário acima para cadastrar suas próximas compras...</h1>
            {% endif %}

    </div>

</div>
{% endblock %}