{% extends 'base.html' %}
{% load static %}
{% block titulo %}
Homepage
{% endblock %}

{% block content %}
<div class="bg-teal-100">
    <div class="bg-teal-200 mx-4 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-32">
        <div class="flex flex-col md:flex-row justify-between items-center" style="min-height: 700px;">
            <div class="px-4 py-8 md:px-8 md:py-16 lg:py-24">
                <h1 class="text-2xl md:text-3xl">Cansado de sempre passar aperto no final do mês?</h1><br>
                <h2 class="text-2xl md:text-3xl font-semibold">Seus problemas <span style="font-weight: 700;">ACABARAM!!!</span></h2><br>
                <h3 class="text-xl md:text-2xl">Conheça o Sempre Seguro...</h3><br>
                <h4 class="text-lg md:text-xl">Aqui você pode controlar suas finanças sem dores de cabeça.</h4><br>
                <h4 class="text-lg md:text-xl">Analise seus relatórios de gastos passados, adicione boletos e contas em aberto para ser lembrado por e-mail no dia do vencimento, adicione itens a sua lista de desejos para adquirir futuramente... </h4><br>
                <h4 class="text-lg md:text-xl">Com vontade de fazer aquela nova aquisição, mas o dinheiro não sobra?<span style="font-weight: 700;"> SEM PROBLEMAS</span>  nós te ajudamos a economizar para isso.</h4><br>
                <h1 class="text-lg md:text-xl" style="margin-bottom: 50px;">Para desfrutar dessas funcionalidades, basta apenas se cadastrar ou fazer login utilizando as opções abaixo...</h1>
                <a href="{% url 'conta:criarconta' %}" class="mr-4">
                    <button class="btn btn-outline-success bg-green-400" style="width: 200px;">Criar Conta</button>
                </a>
                <a href="{% url 'conta:login' %}">
                    <button class="btn btn-outline-success bg-green-400" style="width: 200px;">Login</button>
                </a>

            </div>

            <img src="{% static 'images/fundo.jpg' %}" class="w-full h-auto mt-0 md:mt-0">
        </div>


    </div>
</div>
{% endblock %}