{% extends 'base.html' %}

{% block titulo %}
Homepage
{% endblock %}

{% block content %}

    <main class="bg-teal-200">
        <div class="py-4 px-4">
            <div class="my-16 bg-teal-500 w-6/12 text-white px-3 py-3">
                <p class="font-bold">Seja bem vindo ao Sempre Seguro {{ request.user }}!</p>
                <p>Aqui você pode controlar seus gastos de maneira rápida e fácil, basta apenas fazer login e desfrutar de um mecanismo prático e eficiente para não ficar no <span style="color: red;">VERMELHO!</span></p>

            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3" >
                <a href="{% url 'conta:despesas' %}" style="font-size: 1.5rem;">Calcular Despesas</a>
                <p>Acesse esta página para calcular seus gastos e saber como está a sua situação</p>
            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3" >
                <a href="{% url 'conta:relatorios' %}" style="font-size:1.5rem;">Consultar Relatórios</a>
                <p>Acesse esta página para conferir seus gastos passados</p>
            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3" >
                <a href="{% url 'conta:futurascompras' %}" style="font-size:1.5rem;">Futuras Compras</a>
                <p>Acesse esta página para conferir suas futuras aquisições</p>
            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3">
                <a href="{% url 'conta:contasavencer' %}" style="font-size:1.5rem;">Contas a Vencer</a>
                <p>Acesse esta página para verificar seus débitos em aberto</p>
            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3">
                <a href="{% url 'conta:editarperfil' user.id %}" style="font-size:1.5rem;">Editar Perfil</a>
                <p>Clique aqui para editar seus dados</p>
            </div>

            <div class="my-16 bg-teal-500 w-6/12 div-color text-white px-3 py-3">
                <a href="{% url 'conta:logout' %}" style="font-size:1.5rem;">Sair </a>
                <p>Clique aqui para sair da sua conta</p>
            </div>


        </div>

    </main>
{% endblock %}