{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
Login
{% endblock %}

{% block content %}

<div class="bg-teal-100">
    <div class="bg-teal-200 px-10 py-10 mx-auto md:px-20 lg:px-28 xl:px-40 container" style="height: 722px;">
        <div class="mx-auto md:w-3/4 lg:w-2/3 xl:w-1/2 px-5 md:px-16">
            <h1 class="pt-16 text-2xl font-semibold" style="font-family: Consolas; color: #002B05;">PREENCHA OS CAMPOS ABAIXO COM SEU E-MAIL OU NOME DE USUARIO E SUA SENHA PARA REALIZAR O LOGIN</h1>
            <form method="POST" class="pt-8">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-lg bg-success mt-4" type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}