{% extends 'base.html' %}
{% load humanize %}
{% block titulo %}
Recebimentos
{% endblock %}

{% block content %}

    <div class="bg-teal-100">
        <div class="bg-teal-200 px-10 py-10 mx-auto md:px-20 lg:px-28 xl:px-40 container">
            <h1 class="px-10 pb-6 pt-16" style="font-size:2rem;font-family: Consolas; color: #002B05;">
                Nesta seção <strong>{{ request.user }}</strong>, insira seus recebimentos preenchendo os campos abaixo...
            </h1>

            <form class="px-5 md:px-10 lg:px-16" method="post" action="." style="padding: 1rem 32rem;">
                {% csrf_token %}
                <div class="py-2">
                    <label for="descricao">Recebimento: </label>
                    <input class="w-full h-10 px-3 border rounded-md" name="descricao" id="descricao" type="text" placeholder="Insira a descrição da sua conta">
                </div>
                <div class="py-2">
                    <label for="valor">Valor: </label>
                    <input class="w-full h-10 px-3 border rounded-md" name="valor" id="valor" type="text" placeholder="Insira o valor">
                </div>
                <div>
                    <input id="relatorio" type="hidden" placeholder="Insira o relatório" value="">
                </div>
                <div>
                    <input id="usuario" type="hidden" placeholder="Insira o usuário" value="{{ request.user }}">
                </div>
                <button name="form1" type="submit" class="btn btn-outline-success mt-2 w-48">Confirmar</button>
            </form>
            <a href="{% url 'conta:saldoatual' %}">
                <button type="submit" class="btn btn-success w-4/12 mt-6 mx-12 mb-24">Após informar os despesas clique aqui para informar seus recebimentos</button>
            </a>

            <div style="height:1px;margin-top:64px; background-color:black;" class="container-divisor"></div>
            <h1 class="px-10 py-8 text-2xl font-semibold" style="font-family: Consolas; color: #002B05; text-align: center;">LISTA DE RECEBIMENTOS</h1>

            {% for key, value in lista_recebimentos.items %}

            {% if key == request.user %}

            {% for item in value %}
            <div class="flex justify-start px-10">
                <div class="m-2 p-1 rounded-lg" style="width: 100%; background-color: white; ">
                    <p>Descrição: <strong>{{ item.0 }}</strong></p>
                </div>
                <div class="m-2 p-1 rounded-lg" style="width: 50%; background-color: white; ">
                    <p></p>Valor: <strong>{{ item.1|floatformat:2|intcomma }} </strong></p>
                </div>
                <div class="m-2 p-1 rounded-lg">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <input name="indice" type="hidden" value="{{ forloop.counter }}" >
                        <button name="form2" type="submit" class="btn btn-danger">Excluir</button>
                    </form>


                </div>

            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}


        </div>
    </div>



{% endblock %}