{% extends 'base.html' %}
{% load humanize %}
{% block titulo %}
Saldo
{% endblock %}

{% block content %}
<div class="bg-teal-100">
    <div class="bg-teal-200 px-10 py-10 mx-auto md:px-20 lg:px-32 xl:px-40 container">
        <h1 class="px-10 pb-6 text-3xl font-semibold" style="font-family: cursive; color: #002B05;">
            Lista de gastos detalhada
        </h1>
        {% for conta in lista_despesas_atual %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Você gastou R$ {{ conta.1|floatformat:2|intcomma }} com {{ conta.0 }}</p>
            </div>
        {% endfor %}
        <div style="background-color:black; height:1px;margin:25px 0;"></div>
        <h1 class="px-10 pb-6 text-3xl font-semibold" style="font-family: cursive; color: #002B05;">
            Lista de recebimentos detalhada
        </h1>
        {% for recebimento in lista_recebimentos_atual %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Você recebeu R$ {{ recebimento.1|floatformat:2|intcomma }} referente (a/ao) {{ recebimento.0 }}</p>
            </div>
        {% endfor %}
        <div style="background-color:black; height:1px;margin:25px 0;"></div>
        <h1 class="px-10 pb-6 text-3xl font-semibold" style="font-family: cursive; color: #002B05;">Saldo Final</h1>
        <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Seus gastos totais foram R$ {{ despesas_soma|floatformat:2|intcomma }}</p>
        </div>
        <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
            <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Seus ganhos totais foram R$ {{ recebimentos_soma|floatformat:2|intcomma }}</p>
        </div>
        {% if saldo_final_atual > 0 %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Seu saldo final foi R$ {{ saldo_final_atual|floatformat:2|intcomma }}</p>
            </div>
        {% else %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg w-full md:w-3/4 lg:w-9/12">
                <p style="font-size: 1.5rem; font-weight: 400; color:#FF0D0D;">Seu saldo final foi R$ {{ saldo_final_atual|floatformat:2|intcomma }}</p>
            </div>
        {% endif %}
        <div class="flex justify-between">
            <a href="{% url 'conta:criar_relatorio' %}">
                <button type="button" class="btn btn-outline-success mt-4 w-full" >Salvar Relatório</button>
            </a>
            <a href="{% url 'conta:homepage' %}">
                <button type="button" class="btn btn-outline-danger mt-4 w-full" >Sair sem Salvar</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}