{% extends 'base.html' %}
{% load humanize %}
{% block titulo %}
Saldo
{% endblock %}

{% block content %}
    <div class="bg-teal-100">
        <div class="bg-teal-200 px-32 py-16 mx-64">
            <h1 class="px-32" style="font-size: 3rem; font-height: 700; color: #002B05; font-family: cursive;">
                Lista de gastos detalhada
            </h1>
            {% for conta in lista_despesas_atual %}
                <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">
                    <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Você gastou R$ {{ conta.1|floatformat:2|intcomma }} com {{ conta.0 }}</p>
                </div>
            {% endfor %}
            <div style="background-color:black; height:1px;margin:25px 0;"></div>
            <h1 class="px-32" style="font-size: 3rem; font-height: 700; color: #002B05; font-family: cursive;">
                 Lista de recebimentos detalhada
            </h1>

            {% for recebimento in lista_recebimentos_atual %}
                <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">
                    <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Você recebeu R$ {{ recebimento.1|floatformat:2|intcomma }} referente (a/ao) {{ recebimento.0 }}</p>
                </div>
            {% endfor %}
            <div style="background-color:black; height:1px;margin:25px 0;"></div>

            <h1 class="px-32" style="font-size: 3rem; font-height: 700; color: #002B05; font-family: cursive;">Saldo Final</h1>
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">
               <p style="font-size: 1.5rem; font-weight: 400; color:#001510;"> Seus gastos totais foram R$ {{ despesas_soma|floatformat:2|intcomma }}</p>

            </div>
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">

                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Seus ganhos totais foram R$ {{ recebimentos_soma|floatformat:2|intcomma }}</p>
            </div>

            {% if saldo_final_atual > 0 %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">

                <p style="font-size: 1.5rem; font-weight: 400; color:#001510;">Seu saldo final foi R$ {{ saldo_final_atual|floatformat:2|intcomma }}</p>
            </div>
            {% else %}
            <div class="bg-gray-100 px-4 py-4 mx-8 my-4 rounded-lg" style="width: 800px;">

                <p style="font-size: 1.5rem; font-weight: 400; color:#FF0D0D;">Seu saldo final foi R$ {{ saldo_final_atual|floatformat:2|intcomma }}</p>
            </div>
            {% endif %}
            <a href="{% url 'conta:criar_relatorio' %}">
                <button type="button" class="btn btn-outline-success" style="width: 450px; margin-left:50px; height: 50px;">Salvar Relatório</button>
            </a>
            <a href="{% url 'conta:homepage' %}">
                <button type="button" class="btn btn-outline-danger" style="width: 450px; margin-left:50px; height: 50px;">Sair sem Salvar</button>
            </a>


        </div>


    </div>
{% endblock %}