{% load static %}
<footer>
    <div class="w-full bg-teal-900 flex justify-between ">
        <div class="py-4 my-1 mx-4 ">
            <a href="#" class="text-white no-underline flex justify-start">
                <img src="{% static 'images/sempreseguro.png' %}" style="width: 50px; height: 50px;" >
                <h1 class="text-white pt-8 pl-4 " style="font-family: Lucida Console; font-size: 1rem;">Sempre Seguro</h1>
            </a>
        </div>

        <div class="py-4 my-1 mx-4 text-white ">
            <p>Python | Django</p>
            <p>2023</p>
        </div>
    </div>

</footer>