{% load static %}

<nav class="w-full flex justify-between px-1 bg-teal-900 ">
    <div class="w-2/12 ">
        <div class="container bg-teal-900 items-center">
            <a href="/" class="text-white no-underline flex justify-start">
                <img src="{% static 'images/sempreseguro.png' %}" style="width: 100px; height: 100px;" >
                <h1 class="text-white pt-8 pl-4 " style="font-family: Lucida Console; font-size: 1.5rem;">Sempre Seguro</h1>
            </a>
        </div>
    </div>

    <div class="w-10/12 hidden lg:flex space-x-0.5 flex-nowrap justify-end items-center">

            <a href="{% url 'conta:despesas' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Calcular Despesas</button>
            </a>

            <a href="{% url 'conta:contasavencer' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Contas a Vencer</button>
            </a>

            <a href="{% url 'conta:futurascompras' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Futuras Compras</button>
            </a>

            <a href="{% url 'conta:relatorios' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Relatórios</button>
            </a>

            {% if user.is_authenticated %}
            <a href="{% url 'conta:editarperfil' request.user.id %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Editar Perfil</button>
            </a>

            <a href="{% url 'conta:logout' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Sair</button>
            </a>
            {% else %}
            <a href="{% url 'conta:criarconta' %}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Criar Conta</button>
            </a>

            <a href="{% url 'conta:login' %}?next={{ request.path }}" class="text-white no-underline px-4">
                <button class="container bg-teal-700  div-color">Login</button>
            </a>
            {% endif %}

    </div>
</nav>